[Desktop Entry]
Version=1.4
Type=Application
Name=King Harkinian Pet
Comment=The King roams your desktop and you have to feed him his dinner!
Exec=python3 /home/YOUR_USERNAME/king_harkinian_pet.py
Terminal=false
Hidden=false
X-GNOME-Autostart-enabled=true
